# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/
.settings/

.classpath
.project

# Ignore output directories
out/

# Ignore any KNX Project Files
*.knxproj

# Ignore knx.xsd
src/main/resources/knx.xsd