////////////////////////////////////////////////////////////////////////////////////////////////
// This items-File has been automatically created. Any changes might be overridden
////////////////////////////////////////////////////////////////////////////////////////////////
#*
===========================
General Macros
===========================
*#
#macro ( escape $text )$text#end
#macro ( padRight $text $length )$display.printf("%-${length}s", $text)#end
#macro ( groups $item )#if ( $item.context.groups )( $item.context.groups )#end#end
#macro ( item $thing $knxItem $key $type $text $icon)
#if ( $thing.items[$knxItem] )
#padRight("$type", "15") #padRight("#escape(${thing.key})_$key", "30") #padRight("""$text""", "40") #padRight("#if ($icon) <$icon> #end", "17") #padRight("#groups($thing.items[$knxItem])", 50) { channel="knx:device:bridge:#escape(${thing.key}):$key" }
#end 
#end
##
#*
===========================
Macros for different items
===========================
*#
## 
#macro ( L $thing )
// $thing.description
#item ($thing, "switch", "switch", "Switch", "Licht [%s]", "light")
#item ($thing, "forced", "forced", "Switch", "Zwangsführung [%s]", "light")
#item ($thing, "movement", "movement", "Contact", "Bewegung [%s]", "motion")
#end
##
## 
#macro ( LD $thing )
// $thing.description
#item ($thing, "dimming", "dimmer", "Dimmer", "Dimmer [%d %%]", "light")
#item ($thing, "switch", "switch", "Switch", "Licht [%s]", "light")
#end
##
## 
#macro ( S $thing )
// $thing.description
#item ($thing, "switch", "switch", "Switch", "${thing.description} [%s]", "poweroutlet")
#item ($thing, "inOperation", "inOperation", "Contact", "${thing.description} In Betrieb [%s]", "poweroutlet")
#end
##
## 
#macro ( R $thing )
// $thing.description
#item ($thing, "move", "shutter", "Rollershutter", "Rollladen [%d %%]", "rollershutter")
#item ($thing, "currentPosition", "position", "Number", "Position [%d %%]", "rollershutter")
#item ($thing, "lock", "lock", "Switch", "Gesperrt [%s]", "rollershutter")
#item ($thing, "closed", "closed", "Contact", "Geschlossen [%s]", "rollershutter")
#end
##
## 
#macro ( J $thing )
// $thing.description
#item ($thing, "move", "shutter", "Rollershutter", "Rollladen [%d %%]", "rollershutter")
#item ($thing, "setBladePosition", "setBladePosition", "Number", "Lamellenstellung [%d %%]", "rollershutter")
#item ($thing, "currentPosition", "position", "Number", "Position [%d %%]", "rollershutter")
#item ($thing, "lock", "lock", "Switch", "Gesperrt [%s]", "rollershutter")
#item ($thing, "closed", "closed", "Contact", "Geschlossen [%s]", "rollershutter")
#end
##
## 
#macro ( M $thing )
// $thing.description
#item ($thing, "move", "shutter", "Rollershutter", "Rollladen [%d %%]", "rollershutter")
#item ($thing, "currentPosition", "position", "Number", "Position [%d %%]", "rollershutter")
#item ($thing, "lock", "lock", "Switch", "Gesperrt [%s]", "rollershutter")
#item ($thing, "windAlarm", "windAlarm", "Contact", "Windalarm [%s]", "rollershutter")
#item ($thing, "rainAlarm", "rainAlarm", "Contact", "Regenalarm [%s]", "rollershutter")
#end
##
## 
#macro ( H $thing )
// $thing.description
#item ($thing, "actualTemperature", "actualTemperature", "Number", "Isttemperatur [%.1f °C]", "temperature")
#item ($thing, "targetTemperature", "targetTemperature", "Number", "Solltemperatur [%.1f °C]", "temperature")
#item ($thing, "actualTemperatureFloor", "actualTemperatureFloor", "Number", "Isttemperatur Boden [%.1f °C]", "temperature")
#item ($thing, "operatingModeSelection", "operatingModeSelection", "String", "Betriebsart [%s]", "heating")
#item ($thing, "switchHeatingCooling", "switchHeatingCooling", "Switch", "Heizen/Kühlen [%s]", "heating")
#item ($thing, "controlValue", "controlValue", "Number", "Stellwert [%d %%]", "heating")
#end
##
## 
#macro ( FK $thing )
// $thing.description
#item ($thing, "windowContact", "contact", "Contact", "Fenster [%s]", "window")
#end
##
## 
#macro ( TK $thing )
// $thing.description
#item ($thing, "doorContact", "contact", "Contact", "Tür [%s]", "frontdoor")
#end
##
## 
#macro ( A $thing )
// $thing.description
#item ($thing, "alarm", "alarm", "Contact", "$thing.description [%s]", "siren")
#end
##      
## 
#macro ( W $thing ) 
// $thing.description
#item ($thing, "maximumBrightness", "maximumBrightness", "Number", "Maximaler Helligkeitswert [%d]", "sun")
#item ($thing, "brightnessEast", "brightnessEast", "Number", "Helligkeitswert Ost [%d]", "sun")
#item ($thing, "brightnessSouth", "brightnessSouth", "Number", "Helligkeitswert Süd [%d]", "sun")
#item ($thing, "brightnessWest", "brightnessWest", "Number", "Helligkeitswert West [%d]", "sun")
#item ($thing, "temperatureOutside", "temperature", "Number", "Außen Temperatur [%.1f °C]", "temperature")
#item ($thing, "windspeed", "windspeed", "Number", "Windgeschwindigkeit  [%.1f] (m/s)", "wind")
#item ($thing, "elevation", "elevation", "Number", "Elevation  [%d]", "")
#item ($thing, "azimut", "azimut", "Number", "Azimut  [%d]", "")
#item ($thing, "rainAlarm", "rainAlarm", "Contact", "Regen  [%s]", "water")
#item ($thing, "windAlarmShutter", "windAlarmShutter", "Contact", "Windalarm  [%s]", "wind")
#end
##            
#* 
===========================
Main Loop
===========================
*#
#set ($lastLocation = '')
##
#foreach ($thing in $collection.sort($things, ["location", "key"]))
#if ( $lastLocation != $thing.location )
// $thing.location
#set ($lastLocation = "$thing.location")
#end
##
#evaluate( "#$thing.descriptor.key ( \$thing )" )

#end
##