////////////////////////////////////////////////////////////////////////////////////////////////
// Automatically created items. Any changes will be overriden
////////////////////////////////////////////////////////////////////////////////////////////////
#*
===========================
Macro's for different things
===========================
*#
#macro ( escape $param )$param#end
#macro ( padRight $text )$display.printf("%-25s", $text)#end

##
## 
#macro ( L $thing )
Switch          #padRight("${thing.key}_switch") "Licht [%s]"               <light>          { channel="knx:device:bridge:$thing.key:switch" }
#end
##
## 
#macro ( LD $thing )
Dimmer          #padRight("${thing.key}_dimmer") "Dimmer [%d %%]"           <light>          { channel="knx:device:bridge:$thing.key:dimmer" }
#end
##
## 
#macro ( S $thing )
Switch          #padRight("${thing.key}_switch") "${thing.description} [%s]"            <light>          { channel="knx:device:bridge:$thing.key:switch" }
#end
##
## 
#macro ( R $thing )
Rollershutter   #padRight("${thing.key}_shutter") "Rollladen [%d %%]"        <rollershutter>  { channel="knx:device:bridge:$thing.key:shutter" }
#if ( $thing.items.currentPosition )
Number          #padRight("${thing.key}_position") "Position [%d %%]"         <rollershutter>  { channel="knx:device:bridge:$thing.key:position" }
#end
#if ( $thing.items.lock )
Switch          #padRight("${thing.key}_lock") "Gesperrt [%s]"            <rollershutter>  { channel="knx:device:bridge:$thing.key:lock" }
#end
#end
##
## 
#macro ( J $thing )
Rollershutter   #padRight("${thing.key}_shutter") "Rollladen [%d %%]"         <rollershutter>  { channel="knx:device:bridge:$thing.key:shutter" }
#if ( $thing.items.currentPosition )
Number          #padRight("${thing.key}_position") "Position [%d %%]"         <rollershutter>  { channel="knx:device:bridge:$thing.key:position" }
#end
#if ( $thing.items.lock )
Switch          #padRight("${thing.key}_lock") "Gesperrt [%s]"            <rollershutter>  { channel="knx:device:bridge:$thing.key:lock" }
#end
#end
##
## 
#macro ( M $thing )
Rollershutter   #padRight("${thing.key}_shutter") "Rollladen [%d %%]"         <rollershutter>  { channel="knx:device:bridge:$thing.key:shutter" }
#if ( $thing.items.currentPosition )
Number          #padRight("${thing.key}_position") "Position [%d %%]"          <rollershutter>  { channel="knx:device:bridge:$thing.key:position" }
#end
#if ( $thing.items.lock )
Switch          #padRight("${thing.key}_lock") "Gesperrt [%s]"             <rollershutter>  { channel="knx:device:bridge:$thing.key:lock" }
#end
#end
##
## 
#macro ( H $thing )
#if ( $thing.items.actualTemperature )
Number          #padRight("${thing.key}_actual") "Isttemperatur [%.1f °C]"                       { channel="knx:device:bridge:$thing.key:actualTemperature" }
#end
#if ( $thing.items.targetTemperature )
Number          #padRight("${thing.key}_target") "Solltemperatur [%.1f °C]"                      { channel="knx:device:bridge:$thing.key:targetTemperature" }
#end
#if ( $thing.items.actualTemperatureFloor )
Number          #padRight("${thing.key}_floor") "Isttemperatur Boden [%.1f °C]"                 { channel="knx:device:bridge:$thing.key:floorTemperature" }
#end
#if ( $thing.items.operatingModeSelection )
String          #padRight("${thing.key}_mode") "Betriebsart [%s]"                              { channel="knx:device:bridge:$thing.key:operatingMode" }
#end
#end
##
## 
#macro ( FK $thing )
Contact         #padRight("${thing.key}_contact") "Fenster [%s]"             <window>         { channel="knx:device:bridge:$thing.key:contact"}
#end
##
## 
#macro ( TK $thing )
Contact         #padRight("${thing.key}_contact") "Tür [%s]"                 <window>         { channel="knx:device:bridge:$thing.key:contact"}
#end
##
## 
#macro ( A $thing )
String          #padRight("${thing.key}_alarm") "$thing.description [%s]"                              { channel="knx:device:bridge:$thing.key:alarm" }
#end
##      
## 
#macro ( W $thing ) 
#if ( $thing.items.maximumBrightness )
Number          #padRight("${thing.key}_maxBrightness") "Maximaler Helligkeitswert [%d]"    #if ( $thing.items.maximumBrightness.context.groups ) ( $thing.items.maximumBrightness.context.groups ) #end     { channel="knx:device:bridge:$thing.key:maxBrightness" }
#end
#if ( $thing.items.brightnessEast )
Number          #padRight("${thing.key}_brightnessEast") "Helligkeitswert Ost [%d]"          #if ( $thing.items.brightnessEast.context.groups ) ( $thing.items.brightnessEast.context.groups ) #end     { channel="knx:device:bridge:$thing.key:brightnessEast" }
#end
#if ( $thing.items.brightnessSouth )
Number          #padRight("${thing.key}_brightnessSouth") "Helligkeitswert Süd [%d]"          #if ( $thing.items.brightnessSouth.context.groups ) ( $thing.items.brightnessSouth.context.groups ) #end     { channel="knx:device:bridge:$thing.key:brightnessSouth" }
#end
#if ( $thing.items.brightnessWest )
Number          #padRight("${thing.key}_brightnessWest") "Helligkeitswert West [%d]"         #if ( $thing.items.brightnessWest.context.groups ) ( $thing.items.brightnessWest.context.groups ) #end     { channel="knx:device:bridge:$thing.key:brightnessWest" }
#end
#if ( $thing.items.temperatureOutside )
Number          #padRight("${thing.key}_temperature") "Außen Temperatur [%.1f °C]"        #if ( $thing.items.temperatureOutside.context.groups ) ( $thing.items.temperatureOutside.context.groups ) #end           { channel="knx:device:bridge:$thing.key:temperature" }
#end
#if ( $thing.items.windspeed )
Number          #padRight("${thing.key}_windSpeed") "Windgeschwindigkeit  [%d] (m/s)"   #if ( $thing.items.windspeed.context.groups ) ( $thing.items.windspeed.context.groups ) #end       { channel="knx:device:bridge:$thing.key:windSpeed" }
#end
#if ( $thing.items.elevation )
Number          #padRight("${thing.key}_elevation") "Elevation [%d]"                         { channel="knx:device:bridge:$thing.key:elevation" }
#end
#if ( $thing.items.azimut )
Number          #padRight("${thing.key}_azimut") "Azimut [%d]"                            { channel="knx:device:bridge:$thing.key:azimut" }
#end
#if ( $thing.items.rainAlarm )
Contact         #padRight("${thing.key}_rain") "Regen [%s]"                             { channel="knx:device:bridge:$thing.key:rain" }
#end
#end
##            
#* 
===========================
Main Loop
===========================
*#
#set ($lastLocation = '')
##
#foreach ($thing in $collection.sort($things, ["location", "key"]))
#if ( $lastLocation != $thing.location )
// $thing.location
#set ($lastLocation = "$thing.location")
#end
##
#evaluate( "#$thing.descriptor.key ( \$thing )" )

#end
##