////////////////////////////////////////////////////////////////////////////////////////////////
// This sitemap has been automatically created. Any changes might be overridden
////////////////////////////////////////////////////////////////////////////////////////////////
sitemap knx label="KNX"
{
##
##
#macro ( escape $param )$param#end
##
##
#*
===========================
Macro's for different things
===========================
*#
##
## 
#macro ( L $thing )
        Switch item=${thing.key}_switch icon="light"
#end
##
## 
#macro ( LD $thing )
        Slider item=${thing.key}_dimmer icon="light"
#end
##
## 
#macro ( S $thing )
        Switch item=${thing.key}_switch icon="poweroutlet"
#end
##
## 
#macro ( R $thing )
        Frame label="${thing.description}" icon="blinds" {
            Switch item=${thing.key}_shutter             
#if ( $thing.items.currentPosition )
            Text item=${thing.key}_position
#end
#if ( $thing.items.lock )
            Switch item=${thing.key}_lock
#end
        }
#end
##
## 
#macro ( J $thing )
        Frame label="${thing.description}" icon="blinds"  {
            Switch item=${thing.key}_shutter
#if ( $thing.items.setBladePosition )
            Text item=${thing.key}_setBladePosition
#end
#if ( $thing.items.currentPosition )
            Text item=${thing.key}_position
#end
#if ( $thing.items.lock )
            Switch item=${thing.key}_lock
#end
        }
#end
##
## 
#macro ( M $thing )
        Frame label="${thing.description}" icon="terrace" {
            Switch item=${thing.key}_shutter
#if ( $thing.items.currentPosition )
            Text item=${thing.key}_position
#end
#if ( $thing.items.lock )
            Switch item=${thing.key}_lock
#end
        }
#end
##
## 
#macro ( H $thing )
        Frame label="${thing.description}" icon="heating" {
#if ( $thing.items.actualTemperature )
            Text item=#escape("${thing.key}")_actualTemperature
#end
#if ( $thing.items.targetTemperature )
            Setpoint item=#escape(${thing.key})_targetTemperature minValue=18 maxValue=30 step=0.5
#end
#if ( $thing.items.actualTemperatureFloor )
            Text item=#escape(${thing.key})_actualTemperatureFloor 
#end
#if ( $thing.items.operatingModeSelection )
            Text item=#escape(${thing.key})_operatingModeSelection
#end
#if ( $thing.items.switchHeatingCooling )
            Switch item=#escape(${thing.key})_switchHeatingCooling
#end
#if ( $thing.items.controlValue )
            Text item=#escape(${thing.key})_controlValue
#end
        }
#end
##
## 
#macro ( FK $thing )
        Text item=${thing.key}_contact icon="window"
#end
##
## 
#macro ( TK $thing )
        Text item=${thing.key}_contact icon="frontdoor"
#end
##
## 
#macro ( A $thing )
        Text item=#escape(${thing.key}_alarm) icon="siren"
#end
##      
## 
#macro ( W $thing ) 
        Frame label="${thing.description}" icon="sun_clouds" {
#if ( $thing.items.maximumBrightness )
            Text item=#escape(${thing.key})_maximumBrightness
#end
#if ( $thing.items.brightnessEast )
            Text item=#escape(${thing.key})_brightnessEast
#end
#if ( $thing.items.brightnessSouth )
            Text item=#escape(${thing.key})_brightnessSouth
#end
#if ( $thing.items.brightnessWest )
            Text item=#escape(${thing.key})_brightnessWest
#end
#if ( $thing.items.temperatureOutside )
            Text item=#escape(${thing.key})_temperature
#end
#if ( $thing.items.windspeed )
            Text item=#escape(${thing.key})_windSpeed
#end
#if ( $thing.items.elevation )
            Text item=#escape(${thing.key})_elevation
#end
#if ( $thing.items.azimut )
            Text item=#escape(${thing.key})_azimut
#end
#if ( $thing.items.rainAlarm )
            Text item=#escape(${thing.key})_rainAlarm
#end
        }
#end
##    
##
#* 
===========================
Main Loop
===========================
*#
##
#set ($lastLocation = '')
#set ($frameEnd = '')
##
Frame {
#foreach ($thing in $collection.sort($things, ["location", "key"]))
#if ( $lastLocation != $thing.location )
    $frameEnd
    
    // $thing.location
    Text label="$thing.location" icon="group" {
      Frame {
#set ($lastLocation = "$thing.location")
#set ($frameEnd = '  }
    }')
#end
##
#evaluate( "#$thing.descriptor.key ( \$thing )" )

#end
##
    $frameEnd	
}
}

